h1 {
  font-size: clamp(32px, 5vw, 48px);
  letter-spacing: 4px;
  color: var(--blanco);
  margin-bottom: 20px;
}

h2 {
  font-size: clamp(26px, 4vw, 36px);
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 30px;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}