.hero-home {
  background-image: url("../../img/home-hero.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home {
  background:
    linear-gradient(
      rgba(247,245,242,0.92),
      rgba(247,245,242,0.92)
    ),
    url("../../img/home-bg.jpeg")
}